body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 1.12rem;
    line-height: 1.5;
    background-color: #001C30;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #64CCC5;
    border-bottom: 5px solid #1B6B93;

}

h1 {
    font-size: 3rem;
    font-family: sans-serif;
}

nav ul {
    display: flex;
}

.nav-link {
    font-size: 2rem;
    padding: 1em;
    color: white;
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 2rem;
    padding-right: 5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 85%;
    line-height: 2;
    color: white;
}


.sub-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    padding-left: 5%;
    margin-top: 3%;
    border-left: 8px solid #1B6B93;
}

.project-pic img {
    width: 800px;
}

.project-pic-2 img {
    display: inline-block;
    flex-wrap: wrap;
    width: 400px;
    border: 5px solid #1B6B93;
}

a:hover {
    opacity: 0.5;
}

.sub-content ul li {
    display: inline-block;
    justify-content: space-evenly;
    padding-left: 100px;
}

h3 {
    display: flex;
    justify-content: center;
    width: 85%;
}

@media screen and (max-width: 768px) {
    .project-pic img {
        width: 400px;
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .project-pic img {
        width: 200px;
    }

    p {
        font-size: .75rem;
    }
}